html 
{ height: 100% }

body
{ height: 100%; margin: 0px; padding: 0px }

#weather_info
{height: 30%; width: 100%;text-align:center; font-family:Courier New; background-color: AliceBlue}

#weather_day
{font-size: 14px}

#weather_txt
{font-size: 12px}

#weather_temp
{font-size: 14px; font-weight: bold}

#map_canvas
{ height: 70%; width: 100%}
